# AGILE CONSULTING BASE GITIGNORE

# Ignore Dreamweaver Files
# Ignore Meteor Local Directory & boilerplate files not needed for build or deployment

# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore

_notes/
/bower_components/
/node_modules/
.meteor/local
_compareTemp
configs/
dwsync.xml
dw_php_codehinting.config
*.mno
.DS_Store
*.DS_Store 